<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">

    <title>Harmonisation d'images - Feedback</title>
    <link rel="stylesheet" href="../static/css/feedback.css">
</head>
<body>
<h1>Choisissez l'image que vous préférez</h1>
<div class="container">
    <img draggable="false" id="img1" src="../static/img/placeholder.webp" alt="Option 1">
    <img draggable="false" id="img2" src="../static/img/placeholder.webp" alt="Option 2">
</div>

<script type="module" src="../static/js/feedback.js" defer></script>
</body>
</html>
