<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmonisation</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
</head>
<div id="webgl-output"></div>
<div class="container">
    <h1>🪄 Harmonisation d'images</h1>
    <h2>Cette application est basée sur l'article de Tan, J., Echevarria, J. I., & Gingold, Y. I. (2018) <br>
        “Palette-based image decomposition, harmonization, and color transfer”
    </h2>

    <button id="start">Accéder à l'application</button>
</div>
<body>

<!-- ImportMap pour charger les modules depuis CDN -->
<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
        "three/": "https://cdn.jsdelivr.net/npm/three@0.172.0/"
      }
    }
</script>

<script type="module" src="../static/js/homepage.js"></script>
</body>
</html>